<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Challenger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Smyt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>SmytTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SmytUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29E1A5801CD977450028A472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E1A58E1CD9775F0028A472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3A5CD61C0D8383003B94A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3A5CEA1C0D8383003B94A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3A5CF51C0D8383003B94A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
